<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">   
    <title>Fee-Fi-Fo-Food</title>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <br>
    <%- include('partials/nav.ejs') %>


    <div>
        <h2>BIG BURGERS FOR A BIG APPETITE</h2>
    </div>

    <% console.log(imageName); %>
    
    <!-- hero section for burger of the day! -->
    <section id="hero">
        <div id="botd">
            <div id="botdtitle">
                <h3>Burger of the Day</h3>
                <h4>A speciality burger for each day on the week!</h4>
            </div>
            <div id="imgContainer">
                <img id="botdImg" alt="<%= BOTD.burger %>" src='/images/BOTD/<%=imageName %>'>
            </div>
            <div id="botdInfo">
                <h4 id="botd title"> <%= BOTD.burger %></h4>
                <p id="botdDesc"> <%= BOTD.desc %> </p>
                <button id="botdOrder">Order Now!</button>
            </div>
            <br>
            <div id="fullMenu">
                <a href="/menu">See Full Menu</a>
            </div>
        </div>
    </section>

    <!-- burgers of the week? so to show case the specialty burgers that cycle each week? -->

    <br>

    <section id="catering">
        <div>
            <h3>Catering</h3>
            <p>Please <a href="/contact">reach out</a> to hear about or catering options.</p>
        </div>
    </section>

    <br>
    <%- include('partials/footer.ejs')%>


</body>
</html>