<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">     
    <title>Menu</title>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <br>
    <%- include('partials/nav.ejs') %>

    <section>
        <div id="menu">

            <!-- card divs perhaps instead of list??-->

            <div id="mains">
                <h2>Entrees</h2>
                <% mainItems.forEach(main => { %> <!--loops through mains items in individual divs-->
                    <div>
                        <div>
                            <h4><%= main.entree %> | <%= main.price %> </h4>
                                <div>
                                    <img class="mainImg" id="<%= main.item %>" alt="<%= main.entree %>" src="<%= main.img %>"> <!--adds item number and img path to item -->
                                </div>
                            <p><%= main.desc %></p>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div id="sides">
                <h2>Side Dishes</h2>
                <% sideItems.forEach(side => { %> <!--loops through and lists side items in individual divs-->
                    <div>
                        <div>
                             <!--adds item number and img path to item removed imades for sides-->
                        </div>
                        <div>
                            <h4><%= side.side %> | <%= side.price %> </h4>
                             <p><%= side.desc %>  </p>
                        </div>
                    </div>
                <% }); %>
            </div>



        </div>

        



    </section>

    <br>
    <%- include('partials/footer.ejs')%>
</body>
</html>nodemon